.line_glitch {
    top: 0;
    left: 0;
}

.line_glitch {
    animation: line_glitch_clip 3000ms -300ms linear infinite, line_glitch1 500ms -421ms linear infinite;
}

@keyframes line_glitch1 {
    0% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(0);
        color: #fff;
    }

    85% {
        transform: translateX(2px);
        color: #4e9a26;
    }

    90% {
        transform: translateX(-1px);
        color: #ac1212;
    }

    95% {
        transform: translateX(2px);
        color: #fff;
    }

    100% {
        transform: translateX(0);
    }
}

/* @keyframes line_glitch_clip {
    0% {
        clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
    }

    100% {
        clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
    }
}

 */

.test {
    animation: glitch 1s linear infinite;
}

@keyframes glitch {

    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

.test:before,
.test:after {
    content: attr(title);
    position: absolute;
    left: 0;
}

.test:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

.test:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {

    2%,
    64% {
        transform: translate(-2px, 0);
    }

    4%,
    60% {
        transform: translate(-2px, 0);
    }

    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}


/* https://codepen.io/elisabethdiang/pen/WNbBxXq */

.glitch_page {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}

.glitch,
.glow {
    color: #dfbfbf;
    position: relative;
    animation: glitch 5s 5s infinite;
}

.glitch::before,
.glow::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 magenta;
    background: black;
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after,
.glow::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 lightgreen;
    background: black;
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
    1% {
        transform: rotateX(10deg) skewX(90deg);
    }

    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes noise-1 {
    3.3333333333% {
        clip-path: inset(86px 0 6px 0);
    }

    6.6666666667% {
        clip-path: inset(16px 0 70px 0);
    }

    10% {
        clip-path: inset(10px 0 71px 0);
    }

    13.3333333333% {
        clip-path: inset(79px 0 5px 0);
    }

    16.6666666667% {
        clip-path: inset(25px 0 43px 0);
    }

    20% {
        clip-path: inset(26px 0 50px 0);
    }

    23.3333333333% {
        clip-path: inset(79px 0 13px 0);
    }

    26.6666666667% {
        clip-path: inset(14px 0 82px 0);
    }

    30% {
        clip-path: inset(15px 0 8px 0);
    }

    33.3333333333% {
        clip-path: inset(33px 0 4px 0);
    }

    36.6666666667% {
        clip-path: inset(93px 0 5px 0);
    }

    40% {
        clip-path: inset(48px 0 10px 0);
    }

    43.3333333333% {
        clip-path: inset(7px 0 8px 0);
    }

    46.6666666667% {
        clip-path: inset(5px 0 26px 0);
    }

    50% {
        clip-path: inset(23px 0 33px 0);
    }

    53.3333333333% {
        clip-path: inset(81px 0 9px 0);
    }

    56.6666666667% {
        clip-path: inset(29px 0 12px 0);
    }

    60% {
        clip-path: inset(71px 0 18px 0);
    }

    63.3333333333% {
        clip-path: inset(52px 0 43px 0);
    }

    66.6666666667% {
        clip-path: inset(51px 0 37px 0);
    }

    70% {
        clip-path: inset(17px 0 30px 0);
    }

    73.3333333333% {
        clip-path: inset(80px 0 14px 0);
    }

    76.6666666667% {
        clip-path: inset(80px 0 15px 0);
    }

    80% {
        clip-path: inset(96px 0 1px 0);
    }

    83.3333333333% {
        clip-path: inset(87px 0 12px 0);
    }

    86.6666666667% {
        clip-path: inset(52px 0 11px 0);
    }

    90% {
        clip-path: inset(43px 0 1px 0);
    }

    93.3333333333% {
        clip-path: inset(39px 0 15px 0);
    }

    96.6666666667% {
        clip-path: inset(73px 0 9px 0);
    }

    100% {
        clip-path: inset(69px 0 31px 0);
    }
}

@keyframes noise-2 {
    0% {
        clip-path: inset(43px 0 43px 0);
    }

    3.3333333333% {
        clip-path: inset(68px 0 14px 0);
    }

    6.6666666667% {
        clip-path: inset(23px 0 74px 0);
    }

    10% {
        clip-path: inset(2px 0 32px 0);
    }

    13.3333333333% {
        clip-path: inset(20px 0 75px 0);
    }

    16.6666666667% {
        clip-path: inset(12px 0 54px 0);
    }

    20% {
        clip-path: inset(29px 0 60px 0);
    }

    23.3333333333% {
        clip-path: inset(43px 0 17px 0);
    }

    26.6666666667% {
        clip-path: inset(49px 0 45px 0);
    }

    30% {
        clip-path: inset(36px 0 40px 0);
    }

    33.3333333333% {
        clip-path: inset(28px 0 23px 0);
    }

    36.6666666667% {
        clip-path: inset(49px 0 11px 0);
    }

    40% {
        clip-path: inset(86px 0 2px 0);
    }

    43.3333333333% {
        clip-path: inset(11px 0 47px 0);
    }

    46.6666666667% {
        clip-path: inset(30px 0 3px 0);
    }

    50% {
        clip-path: inset(17px 0 46px 0);
    }

    53.3333333333% {
        clip-path: inset(10px 0 18px 0);
    }

    56.6666666667% {
        clip-path: inset(14px 0 65px 0);
    }

    60% {
        clip-path: inset(54px 0 6px 0);
    }

    63.3333333333% {
        clip-path: inset(54px 0 42px 0);
    }

    66.6666666667% {
        clip-path: inset(55px 0 21px 0);
    }

    70% {
        clip-path: inset(29px 0 10px 0);
    }

    73.3333333333% {
        clip-path: inset(58px 0 10px 0);
    }

    76.6666666667% {
        clip-path: inset(9px 0 58px 0);
    }

    80% {
        clip-path: inset(99px 0 1px 0);
    }

    83.3333333333% {
        clip-path: inset(58px 0 40px 0);
    }

    86.6666666667% {
        clip-path: inset(40px 0 15px 0);
    }

    90% {
        clip-path: inset(66px 0 33px 0);
    }

    93.3333333333% {
        clip-path: inset(21px 0 68px 0);
    }

    96.6666666667% {
        clip-path: inset(89px 0 10px 0);
    }

    100% {
        clip-path: inset(65px 0 10px 0);
    }
}

.scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
}

.scanlines::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.05) 0.5%, transparent 1%);
    animation: fudge 7s ease-in-out alternate infinite;
}

@keyframes fudge {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(0px, 2%);
    }
}

.glow {
    text-shadow: 0 0 1000px #dfbfbf;
    color: transparent;
    position: absolute;
    top: 0;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 0.8vw;
    color: rgba(165, 141, 141, .4);
    text-transform: uppercase;
    letter-spacing: 1em;
    text-align: center;
    position: absolute;
    left: 17%;
    animation: glitch-2 5s 5.02s infinite;
}

@keyframes glitch-2 {
    1% {
        transform: rotateX(10deg) skewX(70deg);
    }

    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}